{% extends 'RUser/Header.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
.style7 {font-size: 18px}
        .style8 {color: #FFFF00}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF RAILWAY ACCIDENT TYPE!!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="992" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style4">ENTER DATASETS DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td width="289" height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter RID</div></td>
                                    <td width="200"><input type="text" name="RID"></td>
                                    <td width="340" bgcolor="#FF0000"><div align="center" class="style4">Enter Location</div></td>
                                    <td width="273"><input type="text" name="Location"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter Latitude</div></td>
                                    <td><input type="text" name="Latitude"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Enter Longitude</div></td>
                                    <td><input type="text" name="Longitude"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">
                                      <div align="center">Enter Avg passengers per day</div>
                                    </div></td>
                                    <td><input type="text" name="Avgpassengersperday"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Enter No of trains passing</div></td>
                                    <td><input type="text" name="Nooftrainspassing"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">
                                      <div align="center">Enter No of trains stopping</div>
                                    </div></td>
                                    <td><input name="Nooftrainsstopping" type="text" value=""></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Enter No of platforms</div></td>
                                    <td><input type="text" name="Noofplatforms"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter No of tracks</div></td>
                                    <td><input type="text" name="Nooftracks"></td>
                                    <td bgcolor="#FF0000"><div align="center"><strong><span class="style7 style2 style8">Enter Train halting time</span></strong></div></td>
                                    <td><input type="text" name="Trainhaltingtime"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter Avg train speed</div></td>
                                    <td><span class="style4">
                                    <input type="text" name="Avgtrainspeed">
                                    </span></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4"><span class="style2">Enter</span> Average accidents per month</div></td>
                                    <td><input type="text" name="Averageaccidentspermonth"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4"><span class="style7 style2">Enter</span> population</div></td>
                                    <td><input type="text" name="population"></td>
                                    <td bgcolor="#FF0000"><div align="center"><strong><span class="style8"><span class="style2">Enter</span> Physical Environment</span></strong></div></td>
                                    <td><input type="text" name="PhysicalEnvironment"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4"><span class="style7 style2">Enter</span> DateTime</div></td>
                                    <td><input type="text" name="DateTime"></td>
                                    <td bgcolor="#FF0000"><div align="center"><strong><span class="style8"><span class="style2">Enter</span> admin_found</span></strong></div></td>
                                    <td><input type="text" name="admin_found"></td>
                                  </tr>
                                  
                                  <tr>
                                    <td height="44" bgcolor="#FFFFFF">&nbsp;</td>
                                    <td><input name="submit" type="submit" class="style1" value="Predict"></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table>



                            </div>

              <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="844" height="71" border="0" align="center" >
                                    <tr><td width="609" bgcolor="#FF0000"><div align="center"><span class="style8 style6"><strong>PREDICTED RAILWAY ACCIDENT TYPE </strong></span> <span class="style4">:: --&gt;</span> </div></td>



                                      <td width="225" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center"><strong>{{objs}}</strong></div></td>
                                    </tr>
                      </table>



                            </div>




						</fieldset>
			  </form>




						</fieldset>
					</form>
		  </div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>